/*llamados a la carpeta utilities*/
@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Puritan:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Pinyon+Script&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Puritan:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slide {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0;
  }
  25% {
    margin-left: -100%;
  }
  45% {
    margin-left: -100%;
  }
  50% {
    margin-left: -200%;
  }
  70% {
    margin-left: -200%;
  }
  75% {
    margin-left: -300%;
  }
  100% {
    margin-left: -300%;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slide {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0;
  }
  25% {
    margin-left: -100%;
  }
  45% {
    margin-left: -100%;
  }
  50% {
    margin-left: -200%;
  }
  70% {
    margin-left: -200%;
  }
  75% {
    margin-left: -300%;
  }
  100% {
    margin-left: -300%;
  }
}
/*llamamos a la carpeta base*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Garamond", serif;
}

.fuenteLogo h1 {
  font-family: "Pinyon Script", serif;
  font-style: normal;
}

/*llamamos a la carpeta layout*/
header p {
  font-weight: 400;
  font-size: 16px;
  color: #000000;
  background-color: #f7ced7;
  text-align: center;
  padding: 10px;
}
header .variosEncabezado {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}
header .variosEncabezado .contenedor {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 15px;
  max-width: 1200px;
  margin: 0 auto;
}
header .variosEncabezado .contenedor h1 {
  font-size: 30px;
  font-weight: 400;
  text-align: left;
  margin-right: 50px;
}
header .variosEncabezado .contenedor input {
  padding: 8px;
  width: 80%;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  transition: border-color 0.3s;
}
header .variosEncabezado .contenedor input input:focus {
  border-color: #FF9999;
  outline: none;
}
header .variosEncabezado .contenedor img {
  justify-self: end;
  cursor: pointer;
}
header nav {
  background-color: #f7ced7;
  padding: 10px 0;
}
header nav ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
header nav ul li {
  margin: 0 20px;
}
header nav ul a {
  text-decoration: none;
  color: #000000;
  font-size: 17px;
  transition: color 0.3s;
}
header nav ul a a:hover, header nav ul a a:focus {
  color: #FF9999;
}

footer {
  background-color: #f7ced7;
  margin-top: 10px;
  padding: 20px 0;
}
footer .footerContenedor {
  max-width: 95%;
  margin: 0 auto;
}
footer .footerContenedor .footerRow {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}
footer .footerContenedor .footerRow .footerCol {
  flex: 1;
  max-width: 33%;
  padding: 5px;
}
footer .footerContenedor .footerRow .footerCol h2 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}
footer .footerContenedor .footerRow .footerCol p {
  font-size: 14px;
  color: #333;
}
footer .footerContenedor .footerRow .footerCol form {
  display: flex;
  align-items: center;
  gap: 10px;
}
footer .footerContenedor .footerRow .footerCol form input[type=email] {
  padding: 10px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 12px;
  transition: border-color 0.3s;
}
footer .footerContenedor .footerRow .footerCol form input[type=email]:focus {
  border-color: #FF9999;
  outline: none;
}
footer .footerContenedor .footerRow .footerCol form button {
  padding: 10px 20px;
  background-color: #ee99ac;
  border: none;
  border-radius: 5px;
  color: #FFF;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
}
footer .footerContenedor .footerRow .footerCol form button button:hover, footer .footerContenedor .footerRow .footerCol form button button:focus {
  background-color: #6B6B6B;
}
footer .footerFinal {
  font-size: 12px;
  color: #333;
  text-align: left;
  padding-top: 20px;
}

/*llamamos a la carpeta components*/
.textoAlineadoPrimero {
  width: 90%;
  text-align: left;
  margin: 10px auto;
  margin-top: 30px;
}
.textoAlineadoPrimero h2 {
  font-size: 25px;
  font-weight: 400;
  text-align: center;
  background-color: #f7ced7;
  padding: 10px;
  border-radius: 5px;
}
.textoAlineadoPrimero .contenedorProductos {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin: 10px 15px 15px 15px;
}
.textoAlineadoPrimero .contenedorProductos .item {
  width: calc(20% - 20px);
  padding: 10px;
  background-color: #FFFFFF;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}
.textoAlineadoPrimero .contenedorProductos .item:hover {
  transform: translateY(-5px);
}
.textoAlineadoPrimero .contenedorProductos .item img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}
.textoAlineadoPrimero .contenedorProductos .item p {
  text-align: left;
}
.textoAlineadoPrimero .contenedorProductos .item h3 {
  font-size: 18px;
  font-weight: 600;
  margin: 5px 0;
}
.textoAlineadoPrimero .contenedorProductos .item .nombre {
  font-size: 16px;
  font-weight: 400;
  color: #555;
}
.textoAlineadoPrimero .contenedorProductos .item .precio {
  font-size: 14px;
  font-weight: 400;
  color: #222;
}

.extras {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: left;
  margin: 30px 30px 30px 30px;
  padding: 20px;
  border-radius: 10px;
  background-color: #F9F9F9;
}
.extras img {
  max-width: 40%;
  border-radius: 10px;
  object-fit: cover;
}
.extras .contenedorTexto h2 {
  font-size: 2em;
  color: #333;
  margin-bottom: 15px;
}
.extras .contenedorTexto form {
  display: flex;
  align-items: center;
  gap: 10px;
}
.extras .contenedorTexto form input[type=email] {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  transition: border-color 0.3s;
  width: 100%;
}
.extras .contenedorTexto form input[type=submit] {
  padding: 10px 20px;
  background-color: #ee99ac;
  border: none;
  border-radius: 5px;
  color: #FFF;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slide {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0;
  }
  25% {
    margin-left: -100%;
  }
  45% {
    margin-left: -100%;
  }
  50% {
    margin-left: -200%;
  }
  70% {
    margin-left: -200%;
  }
  75% {
    margin-left: -300%;
  }
  100% {
    margin-left: -300%;
  }
}
.carrusel {
  width: 100%;
  margin: 0px auto;
  overflow: hidden;
}
.carrusel ul {
  display: flex;
  padding: 0;
  width: 400%;
  animation: slide 20s infinite alternate ease-in-out;
  margin-bottom: 20px;
}
.carrusel ul li {
  width: 100%;
  list-style: none;
}
.carrusel ul li img {
  width: 100%;
  height: 460px;
  object-fit: cover;
}

/*llamamos a la carpeta mediaQ*/
@media (max-width: 500px) {
  header p {
    font-size: 12px;
    padding: 7px;
  }
  header .variosEncabezado {
    padding: 8px;
    margin: 4px;
  }
  header .variosEncabezado .contenedor h1 {
    font-size: 20px;
    margin-right: 10px;
  }
  header .variosEncabezado .contenedor input {
    font-size: 10px;
    padding: 2px;
  }
  header .variosEncabezado .contenedor img {
    width: 13px;
    height: 13px;
  }
  header nav {
    padding: 3px;
  }
  header nav ul li a {
    font-size: 10px;
  }
  .carrusel {
    height: auto;
  }
  .carrusel ul li img {
    height: 100%;
  }
  .textoAlineadoPrimero {
    margin: 10px;
  }
  .textoAlineadoPrimero h2 {
    font-size: 14px;
    padding: 3px;
  }
  .textoAlineadoPrimero .contenedorProductos {
    flex-direction: row;
    gap: 10px;
    margin: 10px;
  }
  .textoAlineadoPrimero .contenedorProductos .item {
    width: calc(50% - 10px);
    padding: 5px;
  }
  .textoAlineadoPrimero .contenedorProductos .item img {
    width: 100px;
    height: 100px;
    border-radius: 5px;
    display: block;
    margin: 0 auto;
  }
  .textoAlineadoPrimero .contenedorProductos .item h3 {
    font-size: 14px;
  }
  .textoAlineadoPrimero .contenedorProductos .item .nombre {
    font-size: 12px;
  }
  .textoAlineadoPrimero .contenedorProductos .item .precio {
    font-size: 10px;
  }
  .extras {
    flex-direction: column;
    align-items: center;
    margin: 15px;
    padding: 0px;
  }
  .extras img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
  }
  .extras .contenedorTexto {
    padding-left: 0;
    text-align: center;
  }
  .extras .contenedorTexto h1 {
    font-size: 16px;
  }
  .extras .contenedorTexto h1 form {
    width: 100%;
    justify-content: center;
  }
  .extras .contenedorTexto h1 form input[type=text] {
    font-size: 12px;
    width: 80%;
    margin-bottom: 10px;
  }
  .extras .contenedorTexto h1 form input[type=submit] {
    font-size: 12px;
    width: 40%;
    margin-top: 10px;
  }
  .textoAlineado .titulos {
    font-size: 18px;
  }
  .textoAlineado .contenedorProductos {
    flex-direction: row;
    gap: 5px;
  }
  .textoAlineado .contenedorProductos .item {
    width: calc(50% - 10px);
    padding: 4px;
  }
  .textoAlineado .contenedorProductos .item img {
    width: 100%;
    height: 20px;
  }
  .textoAlineado .contenedorProductos .item .marca {
    font-size: 16px;
  }
  .textoAlineado .contenedorProductos .item .nombre {
    font-size: 14px;
  }
  .textoAlineado .contenedorProductos .item .precio {
    font-size: 12px;
  }
  .extras {
    margin: 5px;
    padding: 10px;
  }
  .extras img {
    max-width: 80%;
  }
  .extras .contenedorTexto h2 {
    font-size: 10px;
    margin-top: 8px;
    margin-bottom: 8px;
  }
  .extras .contenedorTexto form {
    gap: 5px;
  }
  .extras .contenedorTexto form input[type=email] {
    font-size: 6px;
    padding: 5px;
  }
  .extras .contenedorTexto form input[type=submit] {
    font-size: 5px;
    padding: 5px;
  }
  footer {
    margin-top: 5px;
    padding: 0;
  }
  footer .footerContenedor .footerRow {
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
  }
  footer .footerContenedor .footerRow .footerCol {
    max-width: 100%;
    padding: 5px;
  }
  footer .footerContenedor .footerRow .footerCol h2 {
    font-size: 10px;
  }
  footer .footerContenedor .footerRow .footerCol p {
    font-size: 8px;
  }
  footer .footerContenedor .footerRow .footerCol form {
    flex-direction: row;
    gap: 5px;
  }
  footer .footerContenedor .footerRow .footerCol form input[type=email] {
    padding: 5px;
    margin-top: 5px;
    font-size: 6px;
  }
  footer .footerContenedor .footerRow .footerCol form button[type=submit] {
    padding: 5px 5px;
    font-size: 7px;
  }
  footer .footerContenedor .footerFinal {
    padding-top: 5px;
  }
  footer .footerContenedor .footerFinal p {
    font-size: 5px;
    text-align: center;
  }
}
@media (min-width: 501px) and (max-width: 900px) {
  header p {
    padding: 8px;
  }
  .carrusel {
    height: auto;
  }
  .carrusel ul li img {
    height: 100%;
  }
  .textoAlineadoPrimero .contenedorProductos {
    flex-direction: row;
    gap: 10px;
    margin: 10px;
  }
  .textoAlineadoPrimero .contenedorProductos .item {
    width: calc(33.33% - 10px);
  }
  .textoAlineadoPrimero .contenedorProductos .item img {
    width: 100px;
    height: 100px;
    border-radius: 5px;
    display: block;
    margin: 0 auto;
  }
  .textoAlineadoPrimero .contenedorProductos .item h3 {
    font-size: 16px;
  }
  .textoAlineadoPrimero .contenedorProductos .item .nombre {
    font-size: 14px;
  }
  .textoAlineadoPrimero .contenedorProductos .item .precio {
    font-size: 12px;
  }
  .extras {
    margin: 15px;
    padding: 14px;
  }
  .extras img {
    max-width: 50%;
    height: auto;
    object-fit: contain;
  }
  .extras .contenedorTexto {
    padding: 10px;
  }
  .extras .contenedorTexto h2 {
    font-size: 15px;
  }
  .extras .contenedorTexto form {
    width: 100%;
    justify-content: center;
  }
  .extras .contenedorTexto form input[type=email] {
    font-size: 10px;
    padding: 8px;
    width: 80%;
  }
  .extras .contenedorTexto form input[type=submit] {
    font-size: 10px;
    padding: 8px;
    width: 20%;
  }
  footer {
    padding: 0;
  }
  footer .footerContenedor .footerRow .footerCol {
    max-width: 100%;
    padding: 5px;
  }
  footer .footerContenedor .footerRow .footerCol h2 {
    font-size: 15px;
  }
  footer .footerContenedor .footerRow .footerCol p {
    font-size: 11px;
  }
  footer .footerContenedor .footerRow .footerCol form {
    flex-direction: row;
    gap: 5px;
    margin-top: 5px;
  }
  footer .footerContenedor .footerRow .footerCol form input[type=email] {
    padding: 5px;
    font-size: 6px;
  }
  footer .footerContenedor .footerRow .footerCol form button[type=submit] {
    padding: 5px;
    font-size: 6px;
  }
  footer .footerContenedor .footerFinal {
    padding-top: 12px;
  }
  footer .footerContenedor .footerFinal p {
    font-size: 9px;
    text-align: center;
  }
}
@media (min-width: 901px) and (max-width: 1200px) {
  .carrusel {
    height: auto;
  }
  .carrusel ul li img {
    height: 100%;
  }
  .textoAlineadoPrimero .contenedorProductos {
    flex-direction: row;
    gap: 10px;
    margin: 10px;
  }
  .textoAlineadoPrimero .contenedorProductos .item {
    width: calc(25% - 10px);
  }
  .textoAlineadoPrimero .contenedorProductos .item img {
    width: 120px;
    height: 120px;
    border-radius: 5px;
    display: block;
    margin: 0 auto;
  }
  .textoAlineadoPrimero .contenedorProductos .item h3 {
    font-size: 18px;
  }
  .textoAlineadoPrimero .contenedorProductos .item .nombre {
    font-size: 16px;
  }
  .textoAlineadoPrimero .contenedorProductos .item .precio {
    font-size: 14px;
  }
  .extras {
    margin: 20px;
    padding: 18px;
  }
  .extras img {
    max-width: 45%;
    height: auto;
    object-fit: contain;
  }
  .extras .contenedorTexto {
    padding: 15px;
  }
  .extras .contenedorTexto h2 {
    font-size: 18px;
  }
  .extras .contenedorTexto form {
    width: 100%;
    justify-content: center;
  }
  .extras .contenedorTexto form input[type=email] {
    font-size: 12px;
    padding: 10px;
    width: 70%;
  }
  .extras .contenedorTexto form input[type=submit] {
    font-size: 12px;
    padding: 10px;
    width: 25%;
  }
}
@media (min-width: 1200px) {
  .extras .contenedorTexto {
    padding: 20px;
  }
}

/*# sourceMappingURL=style.css.map */
