
@import "../utilities/variables";

.textoAlineadoPrimero {
    @include contenedorProductos(90%, 5); 
    margin: 60px;
}

.extras{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    margin: 30px 30px 30px 30px;
    padding: 20px;
    border-radius: 10px;
    background-color: #F9F9F9;

    img{
        max-width: 40%;
        border-radius: 10px;
        object-fit: cover;
    }
    
    .contenedorTexto {
        h2{
            font-size: 2em;
            color: $color-texto-general;
            margin-bottom: 15px;
        }
        
        form {
            display: flex;
            align-items: center;
            gap: 10px;

            input[type="email"] {
                flex: 1;
                padding: 10px;
                border: 1px solid $color-borde-input;
                border-radius: 5px;
                font-size: 14px;
                transition: border-color 0.3s;
                width: 100%;
            }
            
            input[type="submit"] {
                padding: 10px 20px;
                background-color: #ee99ac;
                border: none;
                border-radius: 5px;
                color: #FFF;
                font-size: 14px;
                cursor: pointer;
                transition: background-color 0.3s;
            }
        }
    }  
}

