@import "../utilities/variables";

.ubicacion {
    width: 90%;
    text-align: center;
    margin: 40px auto;
    
    .contenedorTienda {
        display: flex;
        flex-wrap: wrap; 
        align-items: center;
        justify-content: center;
        gap: 20px;

        .info{
            text-align: center;
            padding: 20px;

            p {
                font-size: 16px;
                color: $color-texto-general;
            }
    
            img{
                border-radius: 5%;
                width: 100%;
            }
        }   
    
        .mapa {
            flex: 1.5; 
            display: flex;
            justify-content: center;

            iframe {
                width: 100%;
                max-width: 700px; 
                height: 450px;
                border: none;
                border-radius: 5px;
            }
        }
    }
}