@media (max-width: 500px) {
    header{
        p {
            font-size: 12px;
            padding: 7px;
        }

        .variosEncabezado{
            padding: 8px;
            margin: 4px;

            .contenedor {
                h1{
                    font-size: 20px;
                    margin-right: 10px;
                }

                form{
                    input{
                    font-size: 10px;
                    padding: 2px;
                    }

                    button {
                        font-size: 8px;
                        padding: 5px 5px;
                    }
                }

                img {
                    width: 13px;
                    height: 13px;
                }
            }
        }

        nav{
            padding: 3px;
            ul li a{
                font-size: 10px;
            }
        } 
    }

    .carrusel{
        height: auto;

        ul li img{
            height: 100%;
        }
    }

    .alineacionProductos{
        margin: 10px;
        h2{
            font-size: 14px;
            padding: 3px;
        }
    
        .contenedorProductos{
            flex-direction: row;
            gap: 10px;
            margin: 10px;
    
            .item{
                width: calc(50% - 10px);
                padding: 5px;   
                
                img {
                    width: 100px;
                    height: 100px;
                    border-radius: 5px;
                    display: block;    
                    margin: 0 auto; 
                }

                h3{
                    font-size: 14px;
                }

                .nombre{
                    font-size: 12px;
                }
            
                .precio{
                    font-size: 10px;
                }
            }
        }
    }

    .extras{
        flex-direction: column; 
        align-items: center;
        margin: 15px;
        padding: 0px;

        img{
            max-width: 100%;
            height: auto;
            object-fit: contain;
        }

        .contenedorTexto {
            padding-left: 0; 
            text-align: center; 

            h2 {
            font-size: 16px;
            }
            
            form {
                width: 100%; 
                justify-content: center; 

                input[type="text"] {
                    font-size: 12px;
                    width: 80%;  
                }
            
                button[type="submit"] {
                    font-size: 9px;
                }
            }
        }
    }

    .textoAlineado{
        .titulos{
            font-size: 18px;
        }
    
        .contenedorProductos{
            flex-direction: row;
            gap: 5px;
    
            .item{
                width: calc(50% - 10px);
                padding: 4px;   

                img{
                    width: 100%;
                    height: 20px;
                }
    
                .marca{
                    font-size: 16px;
                }
            
                .nombre{
                    font-size: 14px;
                }
            
                .precio{
                    font-size: 12px;
                }
            }
        }
    }

    .extras{
        margin: 5px;
        padding: 10px;

        img{
            max-width: 80%;
        }
        
        .contenedorTexto {
            h2{
                font-size: 10px;
                margin-top: 8px;
                margin-bottom: 8px;
            }
            
            form {
                gap: 5px;
                input[type="email"] {
                    font-size: 6px;
                    padding: 5px;
                }
                
                button {
                    font-size: 5px;
                    padding: 5px 5px;
                }
            }
        }  
    }

    footer{
        margin-top: 5px;
        padding: 0;
        .footerContenedor{
            .footerRow {
                flex-direction: column;
                align-items: flex-start;
                gap: 5px;

                .footerCol {
                    max-width: 100%; 
                    padding: 5px;

                    h2{
                        font-size: 10px;
                    }

                    p{
                        font-size: 8px;
                    }

                    form{
                        flex-direction: row;
                        gap: 5px;
                        margin-top: 5px;

                        input[type="email"] {
                            padding: 5px;
                            font-size: 6px;
                        }

                        button[type="submit"]{
                            padding: 5px 5px;
                            font-size: 7px;
                        }
                    }
                }
            }

            .footerFinal{
                padding-top: 5px;
                p{
                    font-size: 5px;
                    text-align: center;
                }
            }
        }
    }
}

@media (min-width: 501px) and (max-width: 900px) {
    header{
        p {
            padding: 8px;
        }

    }

    
    .carrusel{
        height: auto;

        ul li img{
            height: 100%;
        }
    }

    .alineacionProductos{
        .contenedorProductos{
            flex-direction: row;
            gap: 10px;
            margin: 10px;
    
            .item{
                width: calc(33.33% - 10px);

                img {
                    width: 100px;
                    height: 100px;
                    border-radius: 5px;
                    display: block;    
                    margin: 0 auto; 
                }

                h3{
                    font-size: 16px;
                }

                .nombre{
                    font-size: 14px;
                }
            
                .precio{
                    font-size: 12px;
                }
            }
        }
    }

    .extras{
        margin: 15px;
        padding: 14px;        
        img{
            max-width: 50%;
            height: auto;
            object-fit: contain;
        }
        .contenedorTexto {
            padding: 10px;
            h2{
                font-size: 15px;
            }
            
            form {
                width: 100%; 
                justify-content: center; 

                input[type="email"] {
                    font-size: 10px;
                    padding: 8px;
                    width: 80%; 
                }
                
                button[type="submit"] {
                    font-size: 10px;
                    padding: 8px;
                    width: 20%; 
                }
            }
        }  
    }
    
    footer{
        padding: 0;
        .footerContenedor{
            .footerRow {
                .footerCol {
                    max-width: 100%; 
                    padding: 5px;

                    h2{
                        font-size: 15px;
                    }

                    p{
                        font-size: 11px;
                    }

                    form{
                        flex-direction: row;
                        gap: 5px;
                        margin-top: 5px;

                        input[type="email"] {
                            padding: 5px;
                            font-size: 6px;
                        }

                        button[type="submit"]{
                            padding: 5px;
                            font-size: 6px;
                        }
                    }
                }
            }

            .footerFinal{
                padding-top: 12px;
                p{
                    font-size: 9px;
                    text-align: center;
                }
            }
        }
    }
}

@media(min-width: 901px) and (max-width: 1200px) {
    .carrusel{
        height: auto;

        ul li img{
            height: 100%;
        }
    }

    .textoAlineadoPrimero{
        .contenedorProductos{
            flex-direction: row;
            gap: 10px;
            margin: 10px;
    
            .item{
                width: calc(25% - 10px);

                img {
                    width: 120px;
                    height: 120px;
                    border-radius: 5px;
                    display: block;    
                    margin: 0 auto; 
                }

                h3{
                    font-size: 18px;
                }

                .nombre{
                    font-size: 16px;
                }
            
                .precio{
                    font-size: 14px;
                }
            }
        }
    }

    .extras{
        margin: 20px;
        padding: 18px;        
        img{
            max-width: 45%;
            height: auto;
            object-fit: contain;
        }
        .contenedorTexto {
            padding: 15px;
            h2{
                font-size: 18px;
            }
            
            form {
                width: 100%; 
                justify-content: center; 

                input[type="email"] {
                    font-size: 12px;
                    padding: 10px;
                    width: 70%; 
                }
                
                button[type="submit"] {
                    font-size: 12px;
                    padding: 10px;
                    width: 25%; 
                }
            }
        }  
    }
}

@media(min-width:1200px){
    .extras .contenedorTexto{
        padding: 20px;
    }
}